<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        tools:replace="icon, label"
        android:icon="@drawable/logo_image"
        android:label="Zolpia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainUserActivity"
            android:label="@string/title_activity_main_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Material" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Material">

        </activity>
    </application>

</manifest>